:root {
	--dark-background-main: #161616;
	--dark-background-secondary: #272727;
	--dark-background-tertiary: #383838;

	--dark-fore-main: #ffffff;

	--dark-button-active: #2b63ff;
	--dark-button-hover: #4174ff;
}