:root {
	--dark-background-main: #161616;
	--dark-background-secondary: #1d1d1d;
	--dark-background-tertiary: #2e2e2e;

	--dark-fore-main: #ffffff;

	--dark-button-active: #2b63ff;
	--dark-button-hover: #4174ff;
}